<div ng-controller="GroupsController" ng-init="findOne()">
	<div class="container">
		<h2>Group {{ group.letter }}</h2>
		<div class="row">
			<div class="col-md-6">
				<table class="table">
					<thead>
						<tr>
							<th>Team</th>
							<th>MP</th>
							<th>W</th>
							<th>D</th>
							<th>L</th>
							<th>GF</th>
							<th>GA</th>
							<th>Pts</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="team in group.teams | orderObjectBy:'points':true">
							<td>
								<a href="#!/teams/{{ team._id }}">{{ team.team.country }}</a>
							</td>
							<td>{{ team.played }}</td>
							<td>{{ team.won }}</td>
							<td>{{ team.draw }}</td>
							<td>{{ team.loss }}</td>
							<td>{{ team.goalsfor }}</td>
							<td>{{ team.goalsagainst }}</td>
							<td>{{ team.points }}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-6">
				<table class="table">
					<thead>
						<tr>
							<th>Matches & Results</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="match in group.matches">
							<td>{{ match.matchDate | date: 'd MMM yy' }}</td>
							<td>
								<a href="#!/teams/{{ match.team.home.team_id._id }}">{{ match.team.home.team_id.country }}</a>
							</td>
							<td style="width: 50px">
								<span style="width: 100%">
									<span> - </span>
								</span>
							</td>
							<td>
								<a href="#!/teams/{{ match.team.away.team_id._id }}">{{ match.team.away.team_id.country }}</a>
							</td>
						</tr>
					</tbody>
				</table>
				<a href="#!/groups">View all Groups</a>
			</div>
		</div>
	</div>
</div>