doctype html
html(lang='en')
  include ../includes/head
  body
    header.navbar.navbar-static-top.wcp-index-nav(data-ng-include="'views/header.html'", id="top", role="banner")
    block content
    include ../includes/foot
